@model Ecommerce_proiect_an4_sem1.Models.ProductOrder

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ProductOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderIdFk" class="control-label"></label>
                <select asp-for="OrderIdFk" class ="form-control" asp-items="ViewBag.OrderIdFk"></select>
            </div>
            <div class="form-group">
                <label asp-for="ProductIdFk" class="control-label"></label>
                <select asp-for="ProductIdFk" class ="form-control" asp-items="ViewBag.ProductIdFk"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdProductOrder" class="control-label"></label>
                <input asp-for="IdProductOrder" class="form-control" />
                <span asp-validation-for="IdProductOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
